@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0) translateY(50%);
  }

  90% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.card__kelas {
  position: relative; /* Ensure relative positioning for absolute positioned content */
  overflow: hidden;
  width: 20em;
  transition: all .3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1);
  }
}

.card__kelas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__link {
  display: block;
  text-decoration: none;
}

.card__media {
  padding: 0 0 10px 0;
  display: flex;
  justify-content: center;
  height: 180px;

  svg path {
    opacity: 0;
    transition: all .3s ease-in-out;
    transform-origin: center center;
  }

  .card__kelas:hover & {
    svg path {
      animation: fadeInScale .3s ease-in-out forwards;
    }

    svg path:nth-child(2) {
      animation-delay: .1s;
    }

    svg path:nth-child(3) {
      animation-delay: .2s;
    }
  }
}

.card__header {
  position: relative;
  padding: 15px;
}

.card__header-title {
  margin: 0 0 .25em;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.card__header-meta {
  margin: 0;
  color: #999;
}

.card__header-icon {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1em;
  transform: translateX(-20%);
  width: 2em;
  height: 2em;
  transition: all .3s ease-in-out;
  padding-right: 15px;
  font-size: 1.5em;

  .card__kelas:hover & {
    opacity: 1;
    transform: translateX(0);
  }
}